<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <%= image_tag @product.image.url, class: 'main-img' %>
    <div>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <div class="quantity">
        <span>Average Rating: <%= @rating || 0 %>/5 </span>
        <span><%= @product.quantity %> in stock at </span>
        <span><%= humanized_money_with_symbol @product.price %></span>
      </div>
      <div class="price">
        <% if @product.quantity == 0 %>
          <p class="soldout">Sold Out</p>
        <% end %>        
        <%= button_to add_item_cart_path(product_id: @product.id), class: 'btn' , method: :post do %>
          <%= fa_icon "shopping-cart", text: 'Add' %> 
        <% end %>          
      </div>
    </div>
  </article>
  <section class="container">
    <% if current_user %>
      <h3>Leave a review!</h3>
      <%= form_for [@product, @product.reviews.new] do |f| %>
        <div class="row review">
          <div class="col-10">
            <%= f.label :description %> (Optional)
            <%= f.text_area :description %>
          </div>
          <div class="col rating">
            <div>
            <%= f.label :rating %>
            <%= f.select :rating, [1, 2, 3, 4, 5] %>
            </div>
            <%= f.submit "Post", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    <% end %>
    
      <div class="row review">
        <div class="col">
          Username
        </div>
        <div class="col-6">
          Review
        </div>
        <div class="col">
          Rating
        </div>
        <div class="col">
        </div>
      </div>
      <%= render @reviews %>
  </section>
</section>
